---
import BaseLayout from '$layouts/BaseLayout.astro';

interface Props {
	error: unknown;
}

const { error } = Astro.props;
---

<BaseLayout title="Not Found">
	<main class="page">
		<h1 class="text-display">
			<span class="status">500</span>
			<span class="message">{error instanceof Error ? error.message : 'Unknown error'}</span>
		</h1>
	</main>
</BaseLayout>

<style>
	main {
		width: 90vw;
		justify-content: center;
		margin-inline: auto;
	}

	h1 {
		width: max-content;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (min-width: 768px) {
			width: min-content;
			flex-direction: row;
		}
	}

	.status {
		color: hsl(var(--pl-picton));
		font-size: 2.35em;
		top: 0;
	}

	.message {
		font-size: 0.75em;

		@media (min-width: 768px) {
			font-size: 1em;
		}
	}
</style>
