---
import BaseLayout from '$layouts/BaseLayout.astro';
---

<BaseLayout title="about">
	<main class="page">
		<section>
			<h1 class="text-display">about</h1>
		</section>
	</main>
</BaseLayout>

<style>
	main {
		width: 90dvw;
		margin-inline: auto;
	}

	section {
		width: 100%;
	}
</style>
