.chapters {
	width: 100%;
	height: 100%;
	padding: 2rem 1.5rem;
	overflow-y: auto;
	overscroll-behavior-y: auto;
	scrollbar-gutter: stable both;

	& > ul {
		width: 100%;
		position: relative;
	}
}

.chapter-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	border: 2px solid hsl(var(--pl-accent-95));
	border-radius: var(--pl-border-radius-sm);
	padding: 0.5rem 0.75rem;
	align-items: center;
	gap: 0.5rem;
}
.chapter-thumbnail {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 3rem;
	flex-shrink: 0;
}
